/* Work Process Part */

#work-process-part {
  padding-top: 110px;
  padding-bottom: 120px;
  position: relative;
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &::after {
    content: url(../img/work-process-bg.png);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .left-image {
    img {
      filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.05));
    }
    .circle {
      top: 25px;
      left: -35px;
      z-index: -1;
    }
  }
  .right-content {
    @media (min-width: 991px) {
      padding-left: 30px;
    }
    .nav-tab-part {
      margin-top: 35px;
      .nav {
        background: linear-gradient(
          90.01deg,
          #f3f8ff 0.01%,
          rgba(243, 248, 255, 0) 99.99%
        );
        border-radius: 22px;
        @media (max-width: 575px) {
          padding: 0 5px;
        }
        .nav-link {
          padding: 0;
          margin: 0 -7px;
          &.active {
            background-color: transparent;
            margin-right: auto;
            position: relative;
            transition: 0.4s;
            filter: drop-shadow(0px 10px 10px rgba(22, 106, 255, 0.45));
            &::after {
              content: url(../img/icon/tab/arrow.svg);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -900%;
              animation: rightToLeft 2s infinite;
              @keyframes rightToLeft {
                0% {
                  right: -900%;
                }
                50% {
                  right: -870%;
                }
                100% {
                  right: -900%;
                }
              }
              @media (max-width: 1400px) {
                right: -700%;
                @keyframes rightToLeft {
                  0% {
                    right: -700%;
                  }
                  50% {
                    right: -670%;
                  }
                  100% {
                    right: -700%;
                  }
                }
              }
              @media (max-width: 1200px) {
                right: -500%;
                @keyframes rightToLeft {
                  0% {
                    right: -500%;
                  }
                  50% {
                    right: -470%;
                  }
                  100% {
                    right: -500%;
                  }
                }
              }
              @media (max-width: 991px) {
                right: -1110%;
                @keyframes rightToLeft {
                  0% {
                    right: -1110%;
                  }
                  50% {
                    right: -1080%;
                  }
                  100% {
                    right: -1110%;
                  }
                }
              }
              @media (max-width: 767px) {
                right: -720%;
                @keyframes rightToLeft {
                  0% {
                    right: -720%;
                  }
                  50% {
                    right: -690%;
                  }
                  100% {
                    right: -720%;
                  }
                }
              }
              @media (max-width: 530px) {
                display: none;
              }
            }
          }
          &:nth-child(1) {
            position: relative;
            z-index: 10;
          }
          &:nth-child(2) {
            position: relative;
            z-index: 9;
          }
          &:nth-child(3) {
            position: relative;
            z-index: 8;
          }
          &:nth-child(4) {
            position: relative;
            z-index: 7;
          }
          &:nth-child(5) {
            position: relative;
            z-index: 6;
          }
          &:nth-child(6) {
            position: relative;
            z-index: 5;
          }
          &:last-child {
            &.active {
              &:after {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
        }
      }
      .tab-content {
        background: var(--white);
        box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        margin-top: 20px;
        .tab-pane {
          padding: 30px 30px 38px 30px;
          @media (max-width: 390px) {
            padding: 15px;
          }
          h3 {
            font-size: 24px;
            line-height: 58px;
            font-weight: $medium;
            letter-spacing: -0.02em;
            @media (max-width: 1200px) {
              line-height: 34px;
              margin-bottom: 10px;
            }
          }
          p {
            @extend %body-font;
            @extend %text-color;
            line-height: 28px;
          }
          ul{
            padding-left: 25px;
            margin-top: 12px;
            li{
              position: relative;
              &:after{
                content: url(../img/icon/available.png);
                position: absolute;
                top: 2px;
                left: -25px;
                filter: drop-shadow(3px 3px 10px rgba(22, 106, 255, 0.45));
              }
            }
          }
          a {
            color: var(--c1);
            font-size: 18px;
            line-height: 27px;
            letter-spacing: -0.03em;
            margin-top: 13px;
            display: inline-block;
          }
        }
      }
    }
  }
}
