#sell-online-part {
  padding-block: 120px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding-block: 60px;
  }
  .sell-online {
    .main {
      margin-top: 10px;
      .left-info {
        padding-top: 40px;
        padding-left: 65px;
        .item {
          position: relative;
          &:after {
            filter: drop-shadow(0px 10px 20px rgba(22, 106, 255, 0.45));
            position: absolute;
            top: 7px;
            left: -65px;
          }
          &:not(:last-child) {
            margin-bottom: 27px;
          }
          h3 {
            font-size: 24px;
            line-height: 58px;
            letter-spacing: -0.02em;
            font-weight: $medium;
            @media (max-width: 991px) {
              font-size: 20px;
            }
          }
          p {
            font-family: var(--body-font);
            line-height: 28px;
            color: var(--text-color);
          }
          &:first-child {
            &::after {
              content: url(../img/icon/tab/11.svg);
            }
          }
          &:nth-child(2) {
            &::after {
              content: url(../img/icon/tab/14.svg);
            }
          }
          &:nth-child(3) {
            &::after {
              content: url(../img/icon/tab/15.svg);
            }
          }
        }
        .right-img {
          img {
            @media (min-width: 991px) {
              max-width: inherit;
            }
          }
        }
      }
      .right-img {
        @media (max-width: 767px) {
          overflow: hidden;
        }
        .product-img {
          left: 0px;
          top: 60px;
          animation: moving1 3s infinite reverse ease-in-out;
          z-index: 4;
        }
        .single-product-img {
          left: 100px;
          bottom: 0;
          animation: moving2 3s infinite reverse ease-in-out;
          z-index: 3;
        }
        .cart-img {
          top: -30px;
          left: 75%;
          transform: translateX(-75%);
          z-index: 2;
          animation: moving3 3s infinite reverse ease-in-out;
        }
        .chart-img {
          top: 30%;
          transform: translateY(-30%);
          right: -100px;
          z-index: 3;
          animation: moving4 4s infinite reverse ease-in-out;
        }

        // Animation
        @keyframes moving1 {
          0% {
            transform: translateX(-100px);
          }
          50% {
            transform: translateX(-80px);
          }
          100% {
            transform: translateX(-100px);
          }
        }
        @keyframes moving2 {
          0% {
            bottom: 0;
          }
          50% {
            bottom: -20px;
          }
          100% {
            bottom: 0;
          }
        }
        @keyframes moving3 {
          0% {
            top: -30px;
          }
          50% {
            top: -50px;
            left: 80%;
          }
          100% {
            top: -30px;
            left: 75%;
          }
        }
        @keyframes moving4 {
          0% {
            right: -100px;
          }
          50% {
            right: -120px;
          }
          100% {
            right: -100px;
          }
        }
      }
    }
  }
  .e-commerce {
    margin-top: 120px;
    @media (max-width: 767px) {
      margin-top: 60px;
    }
    .section-title {
      @media (max-width: 1400px) {
        text-align: center;
        h3 {
          font-size: 28px;
          line-height: 38px;
        }
      }
    }
    .left-img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      @media (max-width: 575px) {
        gap: 10px;
      }
      .screen {
        box-shadow: 0px 10px 90px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 100%;
      }
      .with-video {
        position: relative;
        .play-btn-2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          .video-play-2 {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background: var(--c1);
            animation: pulse2 2s infinite;
            box-shadow: 0 0 0 rgba(22, 107, 255, 0.4);
            @keyframes pulse2 {
              0% {
                box-shadow: 0 0 0 rgba(22, 107, 255, 0.6);
              }
              70% {
                box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
              }
              100% {
                box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
              }
            }
            @media (max-width: 575px) {
              width: 60px;
              height: 60px;
              @keyframes pulse2 {
                0% {
                  box-shadow: 0 0 0 rgba(22, 107, 255, 0.3);
                }
                70% {
                  box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
                }
                100% {
                  box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
                }
              }
            }
          }
        }
      }
    }
    .right-info {
      .feature-list {
        margin-top: 35px;
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 12px 30px;
          @media (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
          }
          li {
            line-height: 34px;
            letter-spacing: -0.02em;
            font-weight: $medium;
            padding: 5px 0 5px 45px;
            box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            position: relative;
            color: var(--title-color);
            font-family: var(--title-font);
            &::before {
              content: url(../img/icon/available.png);
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
              filter: drop-shadow(3px 3px 10px rgba(22, 106, 255, 0.45));
            }
          }
        }
      }
    }
  }
}
