/*  Footer Part */

footer {
  background: url(../img/footer.png) no-repeat center/cover;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    bottom: -4px;
    left: 82%;
    content: url(../img/footer-right.png);
    z-index: 1;
    @media (max-width: 575px) {
        display: none;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 53px;
    .disclaimer {
      color: rgba(255, 255, 255, 0.72);
      font-family: var(--body-font);
      line-height: 28px;
      .bold {
        font-weight: $bold;
        color: var(--white);
      }
    }
  }
  .middle {
    padding-top: 55px;
    h3 {
      font-size: 21px;
      line-height: 28px;
      font-weight: $medium;
      color: var(--white);
      margin-bottom: 9px;
    }
    ul {
      li {
        font-size: 16px;
        line-height: 39px;
        font-family: var(--body-font);
        color: rgba(255, 255, 255, 0.72);
        img {
          margin-right: 12px;
          margin-top: -3px;
        }
        a {
          font-size: 16px;
          line-height: 39px;
          font-family: var(--body-font);
          color: rgba(255, 255, 255, 0.72);
          transition: 0.4s;
          &:hover {
            color: var(--white);
          }
        }
      }
    }
    .links {
      ul {
        padding-left: 30px;
      }
      a {
        position: relative;
        transition: 0.4s;
        &::after {
          content: url(../img/icon/dots.svg);
          position: absolute;
          top: -14px;
          left: -30px;
        }
        &:hover {
          &:after {
            animation: fade 1s;
            @keyframes fade {
              0% {
                opacity: 0;
                left: 0;
              }
              100% {
                opacity: 1;
                left: -30px;
              }
            }
          }
        }
      }
    }

    .newsletter {
      margin-bottom: 40px;
      h3 {
        margin-bottom: 23px;
      }
      form {
        position: relative;
        overflow: hidden;
        border-radius: 30px;

        input {
          padding: 16px 30px;
          line-height: 28px;
          font-family: var(--body-font);
          color: var(--white);
          background: #71d4fc;
          border: none;
          width: 100%;
          &::placeholder {
            color: var(--white);
          }
        }
        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: $medium;
          background: var(--white);
          padding: 18px;
          transition: 0.4s;
          &:hover {
            background: var(--c1);
            color: var(--white);
          }
        }
      }
    }
    .payment {
      h3 {
        margin-bottom: 23px;
      }
    }
  }
  .footer-bottom {
    margin-top: 48px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-block: 20px 21px;
    p,
    li,
    a {
      font-family: var(----body-font);
      color: var(--white);
      line-height: 19px;
    }
    .main{
        @media (max-width: 991px) {
            justify-content: center !important  ;
            gap: 15px;
        }
        .copyright {
            a {
              transition: 0.4s;
              &:hover {
                text-decoration: underline;
              }
              
            }
            @media (max-width: 575px) {
                text-align: center;
            }
          }
          .social-links {
            ul {
              gap: 10px 40px;
              flex-wrap: wrap;
              justify-content: center;
              @media (max-width: 575px) {
                gap: 10px 20px;
              }
              li {
                a {
                  position: relative;
                  transition: 0.4s;
                  &:before {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: -10px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: var(--white);
                    transition: 0.3s;
                  }
                  &:hover {
                    &:before {
                      background: var(--c1);
                    }
                  }
                }
              }
            }
          }
    }
  }
}
