#page-header {
  background: url(../img/inner-banner.png) no-repeat center/cover;
  position: relative;
  overflow: hidden;
  .main {
    padding-top: 260px;
    padding-bottom: 150px;
    position: relative;

    @media (max-width: 1200px) {
      padding-top: 190px;
    }
  
    @media (max-width: 575px) {
      padding-top: 130px;
      padding-bottom: 130px;
    }
    .center-text {
      position: absolute;
      left: 100px;
      top: 70%;
      transform: translateY(-70%);
      width: 400%;
      @media (max-width: 767px) {
        display: none;
      }
      h2 {
        font-weight: 700;
        font-size: 210px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.05);
      }
      @media (max-width: 767px) {
        h2 {
          font-size: 120px;
        }
      }
      @media (max-width: 575px) {
        h2 {
          font-size: 80px;
        }
      }
    }
    .main-title {
      h5 {
        color: var(--white);
        font-weight: $regular;
        font-family: var(--body-font);
        font-size: 16px;
        margin-top: 10px;
        line-height: 26px;
      }
      h3,
      h1 {
        color: var(--white);
        letter-spacing: -0.05em;
        font-size: 42px;
        line-height: 52px;
      }
    }
  }
  &::after {
    content: url(../img/inner-banner-bot.png);
    position: absolute;
    bottom: -8px;
    right: 0;
    @media (max-width: 1200px) {
      width: 30%;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }
  .breadcrumb {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: var(--white);
    margin-bottom: 0;
    padding: 16px 30px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
    @media (max-width: 575px) {
      padding: 15px;
    }
    ul {
      flex-wrap: wrap;
      gap: 5px 35px;
      li {
        a {
          font-family: var(--body-font);
          @media (max-width: 575px) {
            font-size: 12px;
          }
        }
        &:not(:last-child) {
          a {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: -20px;
              width: 5px;
              height: 5px;
              background: linear-gradient(135deg, #166aff 0%, #2ed0fa 100%);
              border-radius: 50%;
            }
          }
        }
        &:last-child {
          a {
            pointer-events: none;
          }
        }
      }
    }
  }
}
